mixin disqus()
	if disqus && disqus.enable && disqus.username
		.disqus#disqus_thread
			noscript
				| Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>
